.container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: cornsilk;
  text-align: center;
  padding: 10px;
}

.searchbox {
  width: 200px;
  margin: 20px auto;
}
